<hr />
<div class="form-area">
  <h2>Task Post form - binding..</h2>
  <h1>Post Form</h1>
  <br /><br />
  <input type="text" placeholder="Post Title" [(ngModel)]="postTitle" />
  <br /><br />
  <textarea
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Post Detail"
    [(ngModel)]="postDetails"
  ></textarea>
  <br /><br />
  <input type="text" placeholder="Post Image URL" [(ngModel)]="imageURL" />
  <br /><br />
  <input type="text" placeholder="Post URL" [(ngModel)]="postURL" />
  <br /><br />
  <input type="checkbox" [(ngModel)]="addBackground" /> Add Backgorund
</div>

<div class="preview-area">
  <img [src]="imageURL" alt="" />
  <h1>
    <span [class.add-background]="addBackground">{{ postTitle }}</span>
  </h1>
  <p>{{ postDetails }}</p>
  <a
    [href]="postURL"
    target="_blank"
    [style.display]="postURL ? 'block' : 'none'"
    >More Details</a
  >
</div>

<hr />
<h2>ngFor examples</h2>
<h3>Fetching an Array</h3>
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>
<h3>Fetching an Object Array</h3>
<div *ngIf="objArray.length > 0; else noData">
  <ul>
    <li *ngFor="let post of objArray; let i = index">
      {{ post.postTitle }} <button (click)="onDelete(i)">Delete</button>
    </li>
  </ul>
</div>
<button (click)="addNew()">Add New Data</button>
<ng-template #noData>
  <p>There is no data to fetch...</p>
</ng-template>
<hr />

<h2>ngSwitch directive</h2>
<div>
  <button (click)="onClick('step 1')">Step 1</button>
  <button (click)="onClick('step 2')">Step 2</button>
  <button (click)="onClick('step 3')">Step 3</button>
</div>
<br />
<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'step 2'">Step 2 Form</div>
  <div *ngSwitchCase="'step 3'">Step 3 Form</div>
  <div *ngSwitchDefault>Default</div>
</div>
<hr />

<h2>ngStyle directive</h2>
<button (click)="changeStyle()">Change style</button>
<h1
  [ngStyle]="{
    color: isActiveNgStyle ? 'red' : 'black',
    textTransform: isActiveNgStyle ? 'uppercase' : 'lowercase'
  }"
>
  Example ngStyle directive
</h1>
<hr />

<h2>ngClass directive</h2>
<button (click)="changeClass()">Change style</button>
<h1
  [ngClass]="{
    main: isActiveNgClass,
    'text-weight': isActiveNgClass
  }"
>
  Example ngClass directive
</h1>
<hr />

<!-- Task directives-->
<div class="form-area">
  <h2>Task directives</h2>
  <h3>User Details</h3>

  <input type="text" placeholder="Name" [(ngModel)]="name" />
  <br /><br />

  <input type="text" placeholder="Email" [(ngModel)]="email" />
  <br /><br />

  <textarea
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Address"
    [(ngModel)]="address"
  ></textarea>
  <br /><br />

  <button (click)="onSave()">Save Data</button>
</div>
<br />
<div *ngIf="userArray.length > 0; else noUserData">
  <div class="table-area">
    <table width="500">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </thead>
      <tr *ngFor="let user of userArray; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td><button (click)="onDeleteUser(index)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>
<ng-template #noUserData>
  <h4>No data to show</h4>
</ng-template>

<hr />
<h2>Pipes</h2>
<h3>Uppercase / Lowercase pipe</h3>
<p>Uppercase: {{ pTitle | uppercase }}</p>
<p>Lowerrcase: {{ pTitle | lowercase }}</p>
<h3>Numbers</h3>
<p>{{ pNumber | number }}</p>
<p>two dec: {{ pNumberDec | number : "1.2-2" }}</p>
<p>two dec: {{ pNumberDec | number : "2.2-2" }}</p>
<p>one dec: {{ pNumberDec | number : "1.1-1" }}</p>
<p>0 dec: {{ pNumberDec | number : "1.0-0" }}</p>
<p>price: {{ pPrice }}</p>
<p>price: {{ pPrice | currency }}</p>
<p>price: {{ pPrice | currency : "USD" : false }}</p>
<p>price: {{ pPrice | currency : "USD" : false : "2.1-1" }}</p>
<p>price: {{ pPrice | currency : "CHF " }}</p>
<br />
<p>Date: {{ pDate }}</p>
<p>Date: {{ pDate | date : "short" }}</p>
<p>Date: {{ pDate | date : "shortDate" }}</p>
<a href="https://angular.io/api/common/DatePipe" target="_blank">
  DatePipe Angular
</a>
<p>Json: {{ pJsonObj }}</p>
<p>Json: {{ pJsonObj | json }}</p>
<p>Percentage: {{ 0.567 | percent }}</p>
<p>Percentage: {{ 5 | percent }}</p>
<p>Percentage: {{ 0.5 | percent : "1.1-1" }}</p>
<p>Array: {{ pArray }}</p>
<p>Arrayslice 0 - 3: {{ pArray | slice : 0 : 3 }}</p>
<p>Arrayslice 2 - 4: {{ pArray | slice : 2 : 4 }}</p>
<p><strong>Custom Pipes</strong></p>
<p>{{ pUserDetails.city }}</p>
<p>{{ pUserDetails.city | append }}</p>
