<hr />
<h2>ngFor examples</h2>
<h3>Fetching an Array</h3>
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>
<h3>Fetching an Object Array</h3>
<div *ngIf="objArray.length > 0; else noData">
  <ul>
    <li *ngFor="let post of objArray; let i = index">
      {{ post.postTitle }} <button (click)="onDelete(i)">Delete</button>
    </li>
  </ul>
</div>
<button (click)="addNew()">Add New Data</button>
<ng-template #noData>
  <p>There is no data to fetch...</p>
</ng-template>
<hr />

<h2>ngSwitch directive</h2>
<div>
  <button (click)="onClick('step 1')">Step 1</button>
  <button (click)="onClick('step 2')">Step 2</button>
  <button (click)="onClick('step 3')">Step 3</button>
</div>
<br />
<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'step 2'">Step 2 Form</div>
  <div *ngSwitchCase="'step 3'">Step 3 Form</div>
  <div *ngSwitchDefault>Default</div>
</div>
<hr />
